@model WatchMNS.Models.Client

@{
    ViewData["Title"] = "CreateUser";
}
<h4 class="text-center text-light">Inscription</h4>
    <div class="form-sizing border rounded p-3 col-4">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="Lastname" class="form-label text-light">Nom</label>
                <input class="form-control" type="text" asp-for="Lastname">
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="Firstname" class="form-label text-light">Prénom</label>
                <input class="form-control" type="text" asp-for="Firstname">
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="Password" class="form-label text-light">Mot de passe</label>
                <input class="form-control" type="text" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="Email" class="form-label text-light">Mail</label>
                <input class="form-control" type="email" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="Address" class="form-label text-light">Adresse</label>
                <input class="form-control" type="text" asp-for="Address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="PostCode" class="form-label text-light">Code Postal</label>
                <input class="form-control" type="text" asp-for="PostCode">
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="City" class="form-label text-light">Ville</label>
                <input class="form-control" type="text" asp-for="City">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="Country" class="form-label text-light">Pays</label>
                <input class="form-control" type="text" asp-for="Country">
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="BirthDate" class="form-label text-light">Date de naissance</label>
                <input class="form-control" type="date" asp-for="BirthDate">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="NativeCity" class="form-label text-light">Ville de naissance</label>
                <input class="form-control" type="text" asp-for="NativeCity">
                <span asp-validation-for="NativeCity" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label for="NativeCountry" class="form-label text-light">Pays de naissance</label>
                <input class="form-control" type="text" asp-for="NativeCountry">
                <span asp-validation-for="NativeCountry" class="text-danger"></span>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-warning mb-3">Envoyer</button>
            </div>
        </form>
    </div>

