@model WatchMNS.Models.Client

<div class="border rounded p-3">
    <h1 class="text-light">Lastname : @Model.Lastname</h1>
    <h1 class="text-light">Firstname : @Model.Firstname</h1>
    <h1 class="text-light">Email : @Model.Email</h1>
    <h1 class="text-light">Professionnal status : @Model.ProfessionnalStatusId</h1>
</div>



