@model List<Client>

<div class=" col-4 border rounded p-3">
    <form asp-controller="Client" method="get">
        <div class="mb-3">
            <label for="selectedUser" class="form-label text-light">Select a user : </label>
            <select name="id" id="selectedUser" class="form-select">
                @foreach (Client client in Model)
                {
                    <option value='@client.Id'>@client.Lastname @client.Firstname</option>
                }
            </select>
        </div>
        <div class="d-flex">
            <div class="col-auto">
                <button type="submit" class="btn me-3 btn-warning mb-3" asp-action="EditUser">Edit User</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn me-3 btn-warning mb-3" asp-action="DeleteUser">Delete User</button>
            </div>
        </div>
        
    </form>
</div>
