@using System.Security.Claims
@model WatchMNS.ViewModel.DelayDeclarationViewModel

<div class="container-fluid custom-border mb-3 p-3 text-light">
    <h1 class="text-center">Vos retards : </h1>

    @if(Model.ExistingLateMisses.Count > 0)
    {
        @foreach (var delay in Model.ExistingLateMisses)
        {
            <div class="custom-border mt-3 p-3">
                <h3 class="text-decoration-underline">Retard</h3>
                <p><span class="fw-bold">Date de déclaration :</span> @delay.DeclarationDate</p>
                <p><span class="fw-bold">Statut de validation :</span> @delay.lateMissStatus.Label</p>
                <p><span class="fw-bold">Motif :</span> @delay.Reason</p>
            </div>
        }
    }
    else
    {
        <p>Aucun retard à signaler.</p>
    }

</div>

<div class="custom-border text-light p-3">
    <h1 class="text-center">Déclarer un retard : </h1>
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-sizing col-md-6">
            <input type="hidden" asp-for="NewLateMiss.LateMissType" value="Retard">
            <input type="hidden" asp-for="NewLateMiss.Client.Id" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
            <div class="mb-3">
                <label for="Reason" class="form-label text-light">Motif</label>
                <input class="form-control" type="text" asp-for="NewLateMiss.Reason">
                <span asp-validation-for="NewLateMiss.Reason" class="text-danger"></span>
            </div>
            @* <div class="mb-3">
                <label for="Document" class="form-label text-light">Image</label>
                <input class="form-control" type="image">
            </div> *@
            <p class="text-center">Votre déclaration sera soumise à une validation administrative.</p>
            <div class="col-auto text-center mt-3">
                <button type="submit" class="btn btn-warning mb-3 col-3">Déclarer</button>
            </div>
        </div>
    </form>
</div>


