@model WatchMNS.Models.Client

<h1 class="text-light">@Model.Lastname @Model.Firstname</h1>

<div class="col-12 custom-border p-3">
    <div class="col-2 custom-border d-flex flex-column justify-content-center align-items-center ps-3 pe-3">
        <a class="btn btn-dark border-2 custom-border col-6 col-md-auto mt-3" asp-controller="ManageAccount" asp-action="EditUser">Editer mon profil</a>
        <a class="btn btn-dark border-2 custom-border col-6 col-md-auto mt-3 mb-3" asp-controller="ManageAccount" asp-action="EditUser">Editer mon profil</a>
    </div>
</div>



