@model WatchMNS.Models.Client

<h1 class="text-light">@Model.Lastname @Model.Firstname</h1>

<div class="col-12 custom-border-5 d-lg-flex justify-content-between p-4">
    <div class="col-12 col-lg-2 custom-border d-flex flex-column justify-content-center align-items-center">
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="ManageAccount" asp-action="EditUser">Editer mon profil</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="UserPanel" asp-action="AbsenceManager">Gestion d'absence</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="UserPanel" asp-action="DelayManager">Gestion de retard</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="ManageAccount" asp-action="EditUser">Gestion de Document</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="ManageAccount" asp-action="EditUser">Consulter sa formation</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3 mb-3" asp-controller="ManageAccount" asp-action="EditUser">Editer mon profil</a>
    </div>
    <div class="col-12 col-lg-10 custom-border d-flex flex-column justify-content-center align-items-center text-light">
        <h1>Graphic</h1>
    </div>
</div>



