@model WatchMNS.ViewModel.AdminPanelViewModel

<h1 class="text-light">Panneau d'administration</h1>

<div class="col-12 custom-border-5 d-lg-flex justify-content-between p-4">
    <div class="col-12 col-lg-2 custom-border d-flex flex-column justify-content-center align-items-center">
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="ManageAccount" asp-action="EditUser">Editer mon profil</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="UserPanel" asp-action="AbsenceManager">Gestion d'absence</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="UserPanel" asp-action="DelayManager">Gestion de retard</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="ManageAccount" asp-action="EditUser">Gestion de Document</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3" asp-controller="ManageAccount" asp-action="EditUser">Consulter sa formation</a>
        <a class="btn btn-dark border-2 custom-border col-10 col-md-10 mt-3 mb-3" asp-controller="ManageAccount" asp-action="EditUser">Editer mon profil</a>
    </div>
    <div class="col-12 col-lg-10 custom-border d-flex flex-column justify-content-center align-items-center text-light">
        <h1>Graphic</h1>
    </div>
</div>

<div class="col-12 custom-border-5 text-light mt-4 p-4">
    <form method="post">
        <label asp-for="SortOrder" class="control-label text-light mt-3">Trier:</label>
            <select class="form-select me-3 col-lg-12 col-4 mb-1 bg-dark text-light custom-border" size="1" asp-for="@Model.SortOrder">
                <option value="default">Noms croissants</option>
                <option value="name_desc">Noms décroissants</option>
                <option value="absence_desc">Nombre absences</option>
                <option value="delay_desc">Nombre retards</option>
            </select>
            <input type="submit" value="Trier" class="btn btn-dark border-2 custom-border mt-1 mb-4 col-6 col-md-auto" />
    </form>
    
    <ul class="list-group list-group-numbered list-group-item-dark custom-border">
            @foreach(Client client in Model.Clients)
            {
                    <li class="list-group-item bg-dark text-light">@client.Lastname @client.Firstname <a asp-controller="" asp-action="" class="text-decoration-underline ms-3">Edit</a></li>
            }
    </ul>
    
</div>


