@model WatchMNS.ViewModel.UserDocumentManagerViewModel
<div class="text-light">
    <h1>Bonjour @Model.User.Firstname</h1>
    <h3>Vous avez envoyé @Model.UserDocumentCount documents</h3>
</div>

<form asp-action="DocumentManager" asp-controller="User" class="text-light" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Nom du fichier</label>
            <input asp-for="DocumentName" class="form-control" />
            <span asp-validation-for="DocumentName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Séléctionner un ficher</label>
            <input asp-for="File" class="form-control" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-12">
            <button type="submit" class="btn btn-dark custom-border mt-2">Upload File</button>
        </div>
    </div>
</form>