@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light fw-bolder">WATCHER</h1>
</div>
<img src="~/images/elon.png" class="img-fluid custom-border-5 mt-5 mb-5" alt="Poor guy picture">
